.root {
   :global {
      li {
         display: inline-block;

         &.selected {
            a {
               background-color: #fe5f1e;
               color: #fff;
            }
         }

         &:not(:last-child) {
            margin-right: 10px;
         }
      }

      a {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         width: 40px;
         height: 40px;

         border: 1px solid #fe5f1e;
         border-radius: 30px;
         cursor: pointer;

         color: #fe5f1e;

         transition: background-color 0.15s ease, color 0.15s ease;

         &:hover {
            background-color: #fe5f1e;
            color: #fff;
         }
      }
   }
}
