.root {
   position: relative;
}

.input {
   width: 300px;
   padding: 12px 20px 12px 44px;

   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 10px;

   font-size: 16px;

   &:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
   }

   transition: border 0.2s ease-out;
}

.icon {
   position: absolute;
   top: 50%;
   left: 12px;

   width: 24px;
   height: 24px;

   opacity: 0.5;
   transform: translateY(-50%);
   cursor: pointer;
}
.iconClear {
   position: absolute;
   top: 50%;
   right: 12px;

   width: 28px;
   height: 28px;

   opacity: 0.5;
   transform: translateY(-50%);
   cursor: pointer;
}
